/* RESETS */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* FONTS */
  --font-primary: "Open Sans", sans-serif;
  --font-size-paragraph: 0.7rem;
  --font-size-heading-body: 1.2rem;

  /* COLORS */
  --clr-footer: #b7b8bb;
  --clr-accent: #2f7bb8;
  --clr-accent-hover: #165c96;
  --clr-accent-light: #eff7ff;
  --clr-accent-light-hover: #eaeef3;
  --clr-image-load: #cdc3bd;
  --clr-input-bg: #f8f9fc;
  --clr-error: #d10000;
  --clr-submission-bg: #e9f4da;
  --clr-tick-bg: #8ec73d;

  /* HELPER */
  --border-radius: 3px;
  --slide-height: 495px;
  --helper-width-percent: 90%;
  --helper-max-width: 1200px;
  --slide-offset: 800px;
  --content-max-width: 500px;
}

/* GENERAL */
body {
  font-family: var(--font-primary);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

h1 {
  font-weight: normal;
}

h2 {
  font-size: 0.85rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.5em;
}

p {
  font-size: var(--font-size-paragraph);
  margin-bottom: 2em;
  line-height: 1.7em;
  letter-spacing: 0.015em;
}

li {
  list-style-type: disc;
  list-style-position: outside;
  font-size: var(--font-size-paragraph);
  letter-spacing: 0.015em;
  font-weight: 600;
}

li p {
  margin-bottom: 0;
  position: relative;
  left: -0.6em;
  line-height: 2em;
}

ul {
  padding-left: 0.9em;
  margin-bottom: 1em;
}

::marker {
  font-size: 0.625rem;
}

img {
  object-fit: cover;
  object-position: 50% 5%;
  height: 100%;
  width: 100%;
}

button,
.buttonLink {
  background-color: var(--clr-accent);
  border: none;
  color: white;
  font-weight: bold;
  letter-spacing: 0.04em;
  font-size: var(--font-size-paragraph);
  width: 100%;
  padding: 1.1em 0;
  border-radius: var(--border-radius);
  cursor: pointer;
  display: block;
  text-align: center;
}

button:focus,
.buttonLink:focus,
button:hover,
.buttonLink:hover {
  background-color: var(--clr-accent-hover);
}

.buttonLink:focus,
.buttonLink:hover {
  text-decoration: none;
}

/* HEADER *********************************************/
.header-container {
  border-bottom: 1px solid var(--clr-footer);
}

nav li {
  list-style-type: none;
  margin-left: 2.75em;
  font-size: 0.7rem;
  letter-spacing: 0.15em;
}

#headerLogIn {
  background-color: var(--clr-accent-light);
  padding: 0.9em 2.75em;
  font-weight: bold;
  color: var(--clr-accent);
  letter-spacing: 0.05em;
  border-radius: var(--border-radius);
  cursor: pointer;
}
nav {
  display: none;
}

nav ul {
  display: flex;
  align-items: center;
  margin: 0;
}

.logo-container {
  margin: 12px auto;
  width: 175px;
}

/* HOME ***********************************************/

.slide-content-wrapper {
  position: absolute;
  width: var(--helper-width-percent);
  max-width: var(--helper-max-width);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  display: flex;
  align-items: center;
}

.slide-container {
  position: relative;
  height: var(--slide-height);
  background-color: var(--clr-image-load);
  max-width: calc(var(--helper-max-width) + var(--slide-offset));
  margin: 0 auto;
}

.slide-container-loaded {
  background: linear-gradient(
    to right,
    rgb(56, 56, 56),
    rgb(109, 109, 109) 15%,
    #eee 45%,
    #eee 100%
  );
}

.slide-content {
  position: absolute;
  max-width: var(--content-max-width);
  color: white;
}

.slide-content h1,
.slide-content p {
  margin-bottom: 20px;
}

.slide-content p {
  font-size: 0.95rem;
}

.slide-image {
  mix-blend-mode: multiply;
  display: none;
}

.slide-image-loaded {
  display: block;
}

.swiper-pagination-bullet-custom {
  width: 6px;
  height: 6px;
  display: inline-block;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  margin: 0 4px;
}

.swiper-pagination-bullet-active {
  transform: scale(1.5);
  background-color: var(--clr-accent);
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
}

/* END OF CAROUSEL */
.helper-container {
  width: var(--helper-width-percent);
  max-width: var(--helper-max-width);
  margin: 0 auto;
  padding: 30px 0;
}

.image-container {
  width: 100%;
  margin-bottom: 20px;
}

.image-container img {
  border-radius: var(--border-radius);
  object-position: bottom center;
}

.heading-body {
  font-size: var(--font-size-heading-body);
}

.heading-body-about {
  margin-bottom: 1em;
}

.image-container-wide {
  height: var(--slide-height);
  position: relative;
  max-width: calc(var(--helper-max-width) + var(--slide-offset));
  margin: 0 auto;
}

.image-wide-content {
  border-radius: var(--border-radius);
  /* position: absolute; */
  /* bottom: 50%;
  transform: translateY(50%); */
  max-width: var(--content-max-width);
  height: fit-content;
  /*  left: 5%; */
  padding: 1em;
  color: white;
  background-color: rgba(0, 0, 0, 0.45);
}

.image-wide-content h1 {
  margin-bottom: 1em;
}

.image-wide-content .buttonLink {
  color: var(--clr-accent);
  background-color: white;
}

.image-wide-content .buttonLink:hover,
.image-wide-content .buttonLink:focus {
  background-color: rgb(241, 241, 241);
}

.heading-body-contacts {
  text-align: center;
  margin-bottom: 0.25em;
}

.column-wrapper p:first-of-type {
  font-weight: 600;
}

.column-wrapper {
  columns: 3 40ch;
  column-gap: 3em;
  margin-bottom: 1em;
}

.home-body-contact-us {
  margin: 0 auto;
}

/* ABOUT US ******************************************/
.heading-section {
  margin-bottom: 1em;
}

.about-us-intro p:first-of-type {
  margin-bottom: 0;
  font-weight: 600;
}

.about-us-intro a {
  text-decoration: underline;
  color: var(--clr-accent);
  padding-left: 0.2em;
}

.heading-list {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1em;
}

.image-container-about {
  margin: 0 auto;
  margin-bottom: 1em;
  max-width: 650px;
}

/* CONTACT ********************************************/
.contact-intro {
  font-weight: 600;
}

label p {
  margin-bottom: 0;
}

label {
  font-size: var(--font-size-paragraph);
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5em;
}

.optional-text {
  font-style: italic;
  color: var(--clr-footer);
  font-size: 0.65rem;
}

label .message-length-text {
  font-style: normal;
}

label > span {
  color: var(--clr-error);
  font-weight: 600;
}

input,
textarea {
  margin-top: 0.25em;
  background-color: var(--clr-input-bg);
  padding: 0.75em;
  outline: none;
  border: 1px solid var(--clr-footer);
  border-radius: var(--border-radius);
}

textarea {
  resize: none;
}

input:focus,
textarea:focus {
  border: 1px solid var(--clr-accent);
}

.button-add-phone {
  background-color: var(--clr-accent-light);
  color: var(--clr-accent);
  margin-bottom: 1em;
}

.button-add-phone:hover,
.button-add-phone:focus {
  background-color: var(--clr-accent-light-hover);
}

.message p {
  display: flex;
  justify-content: space-between;
}

.checkbox {
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  width: fit-content;
}

.checkbox p {
  margin-bottom: 0;
  cursor: pointer;
  width: fit-content;
}

.checkbox input {
  margin-right: 0.5em;
}

.address-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.address-details label {
  width: 48%;
}

/* input[type="checkbox"] {
  cursor: pointer;
} */
input[type="checkbox"] {
  opacity: 0;
  cursor: pointer;
}

input[type="checkbox"] + p {
  position: relative;
  padding-left: 0.3em;
}

input[type="checkbox"] + p::before,
input[type="checkbox"] + p::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: -20px;
  bottom: 2px;
  cursor: pointer;
  border-radius: var(--border-radius);
  border: 1px solid var(--clr-accent);
  background-color: var(--clr-accent-light);
}

input[type="checkbox"]:checked + p::after {
  background-color: var(--clr-accent);
  width: 9px;
  height: 9px;
  left: -17px;
  bottom: 5px;
}

.formHidden {
  display: none;
}

.submissionMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-submission-bg);
  border-radius: 4px;
  padding: 2em;
}

.submissionTick {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: var(--clr-tick-bg);
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.submissionTick img {
  object-fit: contain;
}

.submissionMessage p {
  margin-bottom: 0;
}

.submissionSent {
  font-weight: 600;
  font-size: 0.95rem;
}

.form-container {
  max-width: 55ch;
  margin: 0 auto;
}

.helper-container-contact {
  min-height: 80vh;
}

.button-submit {
  background-image: url(./img/Icon_Submit.svg);
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: 15px center;
}

/* FOOTER *********************************************/
.footer-container {
  margin: 0 auto;
  width: 90%;
  max-width: var(--helper-max-width);
  border-top: 1px solid var(--clr-footer);
}

.footer-container p {
  text-align: center;
  font-size: var(--font-size-paragraph);
  color: var(--clr-footer);
  margin-top: 1.25em;
}

.footer-container a {
  text-decoration: underline;
}

.footer-container a:hover,
.footer-container a:focus {
  text-decoration: none;
}

/* MEDIA QUERIES *************************************/

@media only screen and (min-width: 800px) {
  :root {
    --helper-width-percent: 80%;
  }

  nav {
    display: flex;
  }

  .header-content-wrapper {
    width: var(--helper-width-percent);
    max-width: var(--helper-max-width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .home-learn-more-container {
    display: flex;
  }

  .home-learn-more-text {
    order: -1;
    max-width: var(--content-max-width);
    margin-right: 5em;
  }
  .image-container {
    width: 100%;
    max-height: 300px;
    max-width: 550px;
    width: auto;
  }

  .buttonLink {
    width: 20ch;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: block;
    width: 40px;
    height: 40px;
    background-size: 25%;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.4);
    background-repeat: no-repeat;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
  }

  .swiper-button-prev:focus,
  .swiper-button-next:focus,
  .swiper-button-prev:hover,
  .swiper-button-next:hover {
    background-color: rgba(255, 255, 255, 0.25);
    background-size: 35%;
  }

  .swiper-button-next::after,
  .swiper-button-next::before,
  .swiper-button-prev::after,
  .swiper-button-prev::before {
    content: "";
  }

  .swiper-button-next {
    background-image: url(img/Icon_Arrow.svg);
    right: 0;
    transform: scaleX(-1);
  }

  .swiper-button-prev {
    background-image: url(img/Icon_Arrow.svg);
    background-color: rgba(0, 0, 0, 0.45);
    left: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .helper-container-contact {
    background-image: url(./img/Img_Contact.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 525px 120%;
  }

  .form-container {
    margin: 0;
  }

  .name-email-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .name-email-wrapper label {
    width: 48%;
  }
}
